/* ACCORDION */
.accordionBox {padding: 0;}
.accordionBox h2 { padding: 10px 14px 10px 14px;display: block; margin-bottom:0; font-family:Times New Roman, Times New Roman, Sans-Serif; font-size:1.3em; text-transform:uppercase; color:#000 !important; font-weight:bold !important;}
.accordionBox div { margin:0 !important; padding:0;}
.accordionBox h3 { font-size:0.9em; border-top:1px solid #FFF;cursor:pointer; outline:0; margin:0; padding:10px 20px 10px 14px;  background: url(/images/bg_newsroomBox.gif) no-repeat right 12px;}

.accordionBox div div p {margin-top:0; padding:10px 7px 10px 14px; }
.accordionBox img.newsImg {padding:5px 7px 0px 14px; width:280px;}
.accordionBox div.moreNews { border-top:1px solid #FFF; padding:10px 0 12px 14px; }
.accordionBox div.moreNews a.bigLink {padding-left: 25px; font-size:1.2em; font-weight:bold; background: url(/images/icon_bigLink.gif) no-repeat; color:#FFF;}
.accordionBox a.newsText {color:#000; text-decoration:none;}
.accordionBox a.newsText:hover {text-decoration:underline;}

.accordionBox h3.ui-state-active  {background-color:#529fcb; padding-bottom:0.5em;}
.accordionBox h3.ui-state-active:hover {cursor:default;}
.accordionBox h3 a {color:#fff; line-height:1.5em; padding-right:20px; font-size:1.2em; font-weight:bold; display:block;}
.accordionBox h3 a:hover { text-decoration:underline;}
.accordionBox h3.ui-state-active:hover a {cursor:default; text-decoration:none; }

.accordionBox .ui-state-active { background:#529fcb url(/images/bg_newsroomBox_selected.gif) no-repeat right top;}
.accordionBox .ui-accordion-content-active {background-color:#529fcb;}


.accordionBox p.date {color:#FFF; padding-top:0px; padding-bottom:0px;}


.accordionBox .SubMenuAccordion ul { padding-left:25px; padding-top:10px;}
.accordionBox .SubMenuAccordion ul li a { color:#000; text-decoration:none;}