<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0">
    <meta charset="UTF-8">
    <title>NSN Scanner</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="js/ocrad.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <script src="cordova.js"></script>


</head>

<body>

    <img id="loadingImage" src="img/loader-larger.gif">
    <main style="display:none; font-family: 'Open Sans', sans-serif;" data-ng-controller="AppController as AppCtrl" data-ng-init="getJsonData()">
        <ion-header-bar class="">
            <h1 class="">NSN Scanner</h1>

        </ion-header-bar>

        <ion-content>
            <div class="content-wrapper">
            <div class="">
                <div class="searchbar">
                    <input class="search" ng-change="search = search;" type="text" id="search" placeholder="xxxx-xx-xxx-xxxx" ng-model="search.NatoStockNumber" ng-model-options="{debounce: 1000}">
                    <h1 class="camera" ng-click="takePicture();"><i class="icon ion-ios-camera-outline"></i>
                        <img src="img/camera.svg" height="55" width="55"  class="cameraimg"/>
</h1>
                </div>
            <div style="display:none;" id="outputdiv">

                </div>
                <div class="">
                    <div class="">
                        <div class="">
                            <ul class="" ng-repeat="item in testItem=(items |  filter:search.NatoStockNumber | limitTo: 10) ">
                            <li class="">

                                <h3 class="natostocknumber" >{{item.NatoStockNumber}}</h3>
<!--                                <b> Item name:</b>-->
                                <h3 class="itemname" >{{item.Name}}</h3>
<!--                                <b> Item Description:</b>-->
                                <h3 class="itemdescription" >{{item.Description}}</h3>
<!--                                <b> Item price:</b>-->
                                <h3 class="itemprice" >{{item.Price | currency}}</h3>
                                
                                
                                 </li>

                            </ul>
                        </div>
                        <p ng-show="!testItem.length&&items">No items found.
                            <br>
                            <img src="http://i1.kym-cdn.com/photos/images/facebook/000/092/706/Sad_Panda_Chibi_by_mongrelssister.png" alt="" style="width:100%">
                        </p>



                    </div>
                </div>
                </div>
        </ion-content>
    </main>

</body>

</html>