.MenuGroup
{
  background-color:#c0c0c0;
  text-align:center;
}

.MenuItem
{
  background-color:#c0c0c0;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  cursor:hand;
  text-align:center;
}

.MenuItemOver
{
  background-color:#a0a0a0;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  cursor:hand;
  text-align:center;
}

.MenuItemDown
{
  background-color:black;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  cursor:hand;
  text-align:center;
}

.MenuItemSelected
{
  background-color:black;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  cursor:hand;
  text-align:center;
}

.MenuItemSelectedOver
{
  background-color:black;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  cursor:hand;
  text-align:center;
  text-decoration:underline;
}

.MenuBreak
{
  background-color:White;
  padding-left:2px; 
  padding-right:2px; 
}

.SubMenuGroup
{
  background-color:#000000;
  border:0px;  
}

.SubMenuItem
{
  background-color:#000000;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  cursor:hand;
  text-align:center;
}

.SubMenuItemOver
{
  background-color:#000000;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  cursor:hand;
  text-align:center;
  text-decoration:underline;
}

.SubMenuItemDown
{
  background-color:#000000;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  text-align:center;
  cursor:hand;
}

.SubMenuItemSelected
{
  background-color:#000000;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  text-align:center;
  cursor:hand;
  text-decoration:underline;  
}

.SubMenuItemSelectedOver
{
  background-color:#000000;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold; 
  text-align:center;
  cursor:hand;
  text-decoration:underline;
}

.SubMenuBreak
{	
  background-color:White;
  padding-left:2px; 
  padding-right:2px; 
}

/*ISO Compliant Logo*/
.ISOC
{
	width: 220px;
	text-align: center;
}
